/*
 * The whole widget
 */

 :root {
  --dark-color: #002855;
  --secondary-dark-color: #5d7999;
  --medium-color: #1980b3;
  --secondary-medium-color: #b8c9db;
  --tertiary-medium-color: #9ba6bb;
  --light-color: #dfe5ed;
  --secondary-light-color: #f2f5f7;
  --alert-color: #a0270a;
  --accent-color: #fae196;
  --white-color: #ffffff;
  --font-size: 14px;
}

#finna-widget {
  margin-top: .2rem;
  background-color: var(--light-color);
}

#finna-heading {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#finna-collapse > .panel-body {
  padding: 15px 38px 5px 38px;
}

/*
 * Record specific
 */
#finna-record {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  width: 8rem;
  min-height: 200px !important;
}

#finna-record > a > span {
  display: block; 
  font-size: 10px;
  margin-top: 5px;
  padding-top: 1px; 
}

#finna-record > span {
  display: block; 
  font-size: 10px;
}

#finna-record > .image-container {
  background-color: var(--white-color);
  position: relative;
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  resize: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finna-heading > a > .fa-regular, #finna-heading > .fa-regular {
  float: right;
  top: 5px;
  padding-left: 15px;
}

#finna-collapse > .panel-body {
  position: relative;
}

#finna-heading {
  border: 1px solid var(--light-color);
  background-color: var(--white-color);
  object-fit: contain;
}

#finna-img-wrapper img {
  position: relative;
  vertical-align: middle;
}

#finna-img-wrapper span.fa-solid {
  color: var(--dark-color);
  font-size: 42px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  resize: both;
}

/*
 * Previous and next page buttons
 */

#finna-collapse > .panel-body > .btn {
  position: absolute;
  top: 50%;
  height: 3rem;
  /* border-color: var(--dark-color); */
  border-style: solid;
  margin-top: -50px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 12px 7px;
}

#finna-collapse > .panel-body > .btn {
  cursor: default;
  border-color: var(--secondary-medium-color);
}

#finna-collapse > .panel-body > .btn-disabled {
  color: var(--secondary-medium-color);
  cursor: default;
  border-color: var(--secondary-medium-color);
}

#finna-collapse > .panel-body {
  min-height: 200px;
}

#finna-collapse > .panel-body > .btn:first-of-type {
  left: 0;
}

#finna-collapse > .panel-body > .btn:last-of-type {
  right: 0;
}

#finna-heading .accordion-button {
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  position: absolute;
  z-index: 0;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

#finna-heading .accordion-button {
  box-shadow: none;
}

#finna-buttons-wrapper {
  position: relative;
  height: 40px;
  border-bottom: 2px var(--secondary-medium-color);
}

#finna-buttons-wrapper > .btn-group {
  height: 40px;
  right: 50px;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  border-color: var(--dark-color);
}

#finna-collapse > .panel-body > .row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

#finna-collapse > .panel-body > a:last-of-type {
  margin-left: 25px;
}

#finna-format-group ul {
  padding-top: 0rem;
  padding-bottom: 0rem;
  max-height: 50vh;
  overflow-y: auto;
}

#finna-format-group i {
  padding-left: 0.5rem;
  font-size: 0.75rem;
}

#finna-format-group .dropdown-menu {
  transform: translateY(-1px);
  background-color: var(--secondary-light-color);
  color: var(--dark-color);
  border-radius: 0;
}

#finna-format-group .dropdown-menu label, #finna-format-group .dropdown-menu a {
  color: var(--headerbar-text);
}

#finna-format-group .btn-outline-secondary {
  color: var(--dark-color);
  background-color: var(--white-color);
  border: 1px solid var(--light-color);
  border-radius: 0;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

#finna-format-group .dropdown-item:hover, #finna-format-group .dropdown-item.show {
  background-color: var(--dark-color);
  color: var(--light-color);
}

#finna-search {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: var(--white-color);
}

@media (min-width: 1260px) {
  #finna-record {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8px;
    margin-bottom: 7px;
  }

 #finna-collapse > .panel-body {
   padding-left: 30px;
   padding-right: 30px;
   margin: 3.2px;
 }

}
