/*
 * The whole widget
 */

 :root {
  --dark-color: #002855;
  --secondary-dark-color: #5d7999;
  --medium-color: #1980b3;
  --secondary-medium-color: #b8c9db;
  --tertiary-medium-color: #9ba6bb;
  --light-color: #dfe5ed;
  --secondary-light-color: #f2f5f7;
  --alert-color: #a0270a;
  --accent-color: #fae196;
  --white-color: #ffffff;
  --font-size: 14px;
}

.versal-for-finna-drop-down {
  background-color: var(--light-color);
  display: block;
  padding: 3px 20px;
  clear: both;
  text-decoration: none;
}

.versal-for-finna-drop-down:hover, .versal-for-finna-drop-down:show {
  background-color: var(--alert-color);
}

.versal-for-finna-search-link {
  font-weight: 400;
  padding-left: 16px;
}

#finna-widget {
  margin-top: .2rem;
  background-color: var(--light-color)
}

.concept-widget > .panel > #headingFinna {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#collapseFinna > .panel-body {
  padding: 15px 38px 5px 38px;
}

/*
 * Record specific
 */
.recordFinna {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  width: 8rem;
  min-height: 200px !important;
}

.recordFinna > a > span {
  display: block; 
  font-size: 10px; 
  margin-top: 5px;
  padding-top: 1px; 
}

.recordFinna > span {
  display: block; 
  font-size: 10px;
}

.recordFinna > .image-container {
  background-color: var(--white-color);
  position: relative;
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  resize: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

#collapseFinna > .panel-body > .btn:hover, #collapseFinna > .panel-body > .btn:active, #collapseFinna > .panel-body > .btn:focus {
  background-color: #fff;
}

#headingFinna > a > .fa-regular, #headingFinna > .fa-regular {
  float: right;
  top: 5px;
  padding-left: 15px;
}

#headingFinna > .fa-regular {
  color: #777;
}

#collapseFinna > .panel-body {
  position: relative;
}

#img-wrapper-finna {
  background-color: var(--white-color);
}

#img-wrapper-finna img {
  position: relative;
  vertical-align: middle
}

#img-wrapper-finna span.fa-solid {
  color: var(--dark-color);
  font-size: 42px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  resize: both;
}

/*
 * Previous and next page buttons
 */

#collapseFinna > .panel-body > .btn {
  position: absolute;
  top: 50%;
  height: 3rem;
  border-color: var(--dark-color);
  border-style: solid;
  margin-top: -50px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 12px 7px;
}

.font-only-height {
  font-size: 12px;
}

#collapseFinna > .panel-body > .btn-disabled {
  color: var(--secondary-medium-color);
  cursor: default;
  border-color: var(--secondary-medium-color);
}

#collapseFinna > .panel-body {
  min-height: 200px;
}

#collapseFinna > .panel-body > .btn:first-of-type {
  left: 0;
  border-left: 0 !important;
}

#collapseFinna > .panel-body > .btn:last-of-type {
  right: 0;
  border-right: 0 !important;
}

.buttons-wrapper {
  position: relative;
  height: 40px;
}

#headingFinna .accordion-button {
  background-color: var(--white-color);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  position: absolute;
  z-index: 0;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

#headingFinna .accordion-button {
  box-shadow: none;
}

#headingFinna > .buttons-wrapper > .btn-group > .btn:hover, #headingFinna > .buttons-wrapper > .btn-group > .btn:active, #headingFinna > .buttons-wrapper > .btn-group > .btn:focus {
 /*  background-color: #dfe5ed; */
  border: 0;
}

#headingFinna > .buttons-wrapper > .btn-group {
  max-width: 135px;
  height: 40px;
  right: 50px;
  top: 10px;
  bottom: 10px;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
}

#headingFinna > .buttons-wrapper > .btn-group > .btn {
  border-radius: 0;
  border: 0;
  background-color: #dfe5ed;
  min-width: 100px;
  max-height: 22px;
  text-align: left;
  vertical-align: middle;
  padding: .175rem .75rem;
}

#headingFinna > .buttons-wrapper > .btn-group > .btn > .caret {
  margin: 0 5px;
}

#headingFinna > .buttons-wrapper > .btn-group > .dropdown-menu {
  border-radius: 0;
  border: 1px solid #D4EDEB;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

#headingFinna > .buttons-wrapper > .btn-group > .dropdown-menu > li > a:hover, #headingFinna > .buttons-wrapper > .btn-group > .dropdown-menu > li > a:focus, #headingFinna > .buttons-wrapper > .btn-group > .dropdown-menu > li > a:active, #headingFinna > .buttons-wrapper > .btn-group > .dropdown-menu > li > a:visited {
  border: 0;
  color: #fff !important;
}

#collapseFinna > .panel-body > .row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

#collapseFinna > .panel-body > a:last-of-type {
  margin-left: 25px;
}

@media (min-width: 1260px) {
  .recordFinna {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8px;
    margin-bottom: 7px;
  }

 #collapseFinna > .panel-body {
   padding-left: 30px;
   padding-right: 30px;
 }

}
